@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Designer>

@{
    ViewBag.Title = "Index";

}

@if (User.IsInRole("Diseñador"))
{
    <h2>Mis datos</h2>

    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-4" id="opciones">
            <div class="list-group">
                <a onclick="MostrarPerfil()" class="list-group-item" id="buttonMostrar">
                    Ver mi perfil
                </a>
                <a onclick="EditarPerfil()" class="list-group-item" id="buttonEditar">
                    Cambiar mi perfil
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8" id="contenido">
            <div id="edit" style="display:none">
                @Html.Partial("_EditProfile", (Proyecto_FunCase_WEBLY.Models.Designer)Model.First())
            </div>
            <div id="show" style="display:block">
                @Html.Partial("_Profile", (Proyecto_FunCase_WEBLY.Models.Designer)Model.First())
            </div>
        </div>
    </div>

    <input type="hidden" value="@ViewBag.Initial" id="initial" />


    @section scripts
    {
        <script>
            const MostrarPerfil = () => {
                document.getElementById("show").style.display = "block";
                document.getElementById("edit").style.display = "none";
                document.getElementById("buttonMostrar").classList.add("active");
                document.getElementById("buttonEditar").classList.remove("active");
            }

            const EditarPerfil = () => {
                document.getElementById("show").style.display = "none";
                document.getElementById("edit").style.display = "block";
                document.getElementById("buttonEditar").classList.add("active");
                document.getElementById("buttonMostrar").classList.remove("active");
            }

            window.onload = () => {
                var initial = document.getElementById("initial").value;
                if (initial == 0) {
                    MostrarPerfil();
                } else {
                    EditarPerfil();
                }
            }
        </script>
    }
}
else if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
{
    <h2>Diseñadores.</h2>
    <p>
        @Html.ActionLink("Crear Nuevo Registro", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePresentacion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesignerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePresentacion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }

    </table>
}
