@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Designer>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Diseñador"))
{
    var Designer = Model.ToList().Where(c => c.User.UserName == User.Identity.Name).FirstOrDefault();
    if (Designer == null)
    {
        <script>window.location.href = "@Url.Action("Contact", "Contact", "Home")"</script>
    }

    <div class="list-group">
        @Html.ActionLink("Ver perfil", "Details", new { id = Designer.DesignerID }, htmlAttributes: new { @class = "list-group-item" })
        @Html.ActionLink("Cambiar mi perfil", "Edit", new { id = Designer.DesignerID }, htmlAttributes: new { @class = "list-group-item" })"
    </div>
}
else if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
{
    <p>
        @Html.ActionLink("Crear Nuevo Registro", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePresentacion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesignerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePresentacion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }

    </table>
}
