@model Proyecto_FunCase_WEBLY.Models.Venta

@{
    ViewBag.Title = "DetalleVenta";
}

<h2>Detalle de la Venta: @Model.Id </h2>

<table class="table">
    <thead>
        <tr>
            <th>Día de Venta</th>
            <td>@Model.DiaVenta</td>
        </tr>
        <tr>
            <th>Subtotal</th>
            <td>@Model.Subtotal</td>
        </tr>
        <tr>
            <th>IVA</th>
            <td>@Model.Iva</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>@Model.Total</td>
        </tr>
    </thead>
</table>
<h3>Detalle</h3>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaVenta != null)
        {
            foreach (var detalle in Model.ListaVenta)
            {
                <tr>
                    <td>@detalle.Producto.Nombre</td>
                    <td>@detalle.Producto.Precio</td>
                    <td>@detalle.Cantidad</td>
                    <td>@detalle.Total</td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>

