@model Proyecto_FunCase_WEBLY.Models.Material

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles.</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneRelieve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieneRelieve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MaterialID }) |
    @Html.ActionLink("Volver al Listado", "Index")
</p>
