@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Material>

@{
    ViewBag.Title = "Index";
}

<h2>Index.</h2>

<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieneRelieve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TieneRelieve)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Estatus)
    </th>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.MaterialID }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.MaterialID }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.MaterialID })
    </td>
</tr>
}

</table>
