@model Proyecto_FunCase_WEBLY.Models.Pedido

@{ 
    ViewBag.Title = "Detalle de Pedido";
}

<h2>Detalle del Pedido: @Model.PedidoID</h2>

<table class="table">
    <thead>
        <tr>
            <th>Pedido Realizado por</th>
            <th>@Model.Cliente.User.Nombre @Model.Cliente.User.Apellido1 @Model.Cliente.User.Apellido2</th>
        </tr>
        <tr>
            <th>Total</th>
            <th>@Model.Total</th>
        </tr>
        <tr>
            <th>Estatus del Pedido</th>
            <th>@Model.EstatusPedido</th>
        </tr>
        <tr>
            <th>Estatus del Pago</th>
            <th>@Model.EstatusPago</th>
        </tr>
    </thead>
    </table>
    <h3>
        Detalles
    </h3>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DetallesPedidos != null) 
        {
            foreach (var detalle in Model.DetallesPedidos)
            {
                <tr>
                    <td>@detalle.Producto.Nombre</td>
                    <td><img class="img-responsive" src=@detalle.Funda_Disenos.Where(f => f.DetallesPedidoID == detalle.DetallesPedidoID).FirstOrDefault().Imagen 
                             alt="Imagen del Producto" style="height: 250px"/></td>
                    <td>@detalle.PrecioUnitario</td>
                    <td>@detalle.Cantidad</td>
                    <td>@(detalle.PrecioUnitario * detalle.Cantidad)</td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Volver al Listado", "Index")
</p>
