@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Pedido>

@if (User.IsInRole("Empleado"))
{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Pedidos</h3>
                    <p class="text-subtitle text-muted">Lista de los pedidos recibidos.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end float-md-end float-sm-end">
                        <ol class="breadcrumb breadcrumb-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("IndexAdmin", "Home")">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <section class="section">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Pedidos recibidos</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-lg table-hover">
                                        <tr class="table-success">
                                            <th>
                                                Número Pedido
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Cliente.User.Nombre)
                                            </th>
                                            <th>
                                                Método de Pago
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Total)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstatusPedido)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstatusPago)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Referencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Descuento)
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PedidoID)
                                                </td>
                                                <td>
                                                    @item.Cliente.User.Nombre @item.Cliente.User.Apellido1 @item.Cliente.User.Apellido2
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MetodoPago.Nombre)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstatusPedido)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstatusPago)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Referencia)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Descuento)
                                                </td>
                                                <td>
                                                    <div class="float-start float-lg-end float-md-end float-sm-end">
                                                        @Html.ActionLink("Detalles", "Details", new { id = item.PedidoID }, new { @class = "btn btn-info rounded-pill" })
                                                        @if (item.EstatusPedido == "Generado")
                                                        {
                                                            <button type="button" class="btn btn-primary rounded-pill" onclick="EnviarPedido(@item.PedidoID)">Enviado</button>
                                                        }
                                                        else if(item.EstatusPedido == "Enviado")
                                                        {
                                                            <button type="button" class="btn btn-success rounded-pill" onclick="EntregarPedido(@item.PedidoID)">Entregado</button>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @section scripts{
        <script>
            const EnviarPedido = (id) => {
                fetch("@Url.Action("ActualizarPedidoEnviado", "Pedidos")/" + id, {
                    method: 'GET',
                }).then(data => data.json()
                ).then(data => {
                    if (data.response) {
                        Toastify({
                            text: data.mensaje,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#4fbe87",
                        }).showToast();
                        setTimeout(window.location.reload(), 3000);
                    } else {
                        Toastify({
                            text: data.mensaje,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#f3616d",
                        }).showToast();
                    }
                }).catch(error => console.log(error));
            }

            const EntregarPedido = (id) => {
                fetch("@Url.Action("ActualizarPedidoEntregado", "Pedidos")/" + id, {
                    method: 'GET',
                }).then(data => data.json()
                ).then(data => {
                    if (data.response) {
                        Toastify({
                            text: data.mensaje,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#4fbe87",
                        }).showToast();
                        window.location.reload();
                    } else {
                        Toastify({
                            text: data.mensaje,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#f3616d",
                        }).showToast();
                    }
                }).catch(error => console.log(error));
            }
        
        </script>
    }
}
else
{
    ViewBag.Title = "Pedidos";
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Pedidos</h3>
                    <p class="text-subtitle text-muted">Lista de mis pedidos realizados.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <section class="section">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Mis pedidos</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-lg table-hover">
                                        <tr>
                                            <th>
                                                Número de Pedido
                                            </th>
                                            <th>
                                                Método de Pago
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Total)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstatusPedido)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstatusPago)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Referencia)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Descuento)
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PedidoID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MetodoPago.Nombre)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstatusPedido)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstatusPago)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Referencia)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Descuento)
                                                </td>
                                                <td>
                                                    <div class="float-start float-lg-end float-md-end float-sm-end">
                                                        @Html.ActionLink("Detalles", "Details", new { id = item.PedidoID }, new { @class = "btn btn-info rounded-pill" })
                                                        @if(item.EstatusPedido == "Enviado")
                                                        {
                                                            <button type="button" class="btn btn-success rounded-pill" onclick="EntregarPedido(@item.PedidoID)">Recibido</button>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @section scripts {
        <script>
            const EntregarPedido = (id) => {
                fetch("@Url.Action("ActualizarPedidoEntregado", "Pedidos")/" + id, {
                    method: 'GET',
                }).then(data => data.json()
                ).then(data => {
                    if (data.response) {
                        Toastify({
                            text: data.mensaje,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#4fbe87",
                        }).showToast();
                        window.location.reload();
                    } else {
                        Toastify({
                            text: data.mensaje,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#f3616d",
                        }).showToast();
                    }
                }).catch(error => console.log(error));
            }
        </script>    
    }
}
