<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Página de Venta de Fundas" />
    <meta name="author" content="WEBLY" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewBag.Title - WEBLY</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    @Styles.Render("~/Plantilla/css")
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand logo" href="index.html">
                <img class="logo1" src="https://res.cloudinary.com/dj2f7ngpv/image/upload/v1629227087/vane/Logo_hc6hth.jpg" alt="Logo" style="width: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-ba" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Productos", "Index", "Productos", null, htmlAttributes: new { @class = "nav-link" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Diseñador"))
                        {
                            <li class="nav-item">@Html.ActionLink("Mis datos", "Index", "Designer", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Mis imágenes", "Index", "Imagenes", null, htmlAttributes: new { @class = "nav-link" })</li>
                        }
                        else if (User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">@Html.ActionLink("Mis datos", "Index", "Cliente", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Mis pedidos", "Index", "Pedidos", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Mis direcciones", "Index", "Direccion", null, htmlAttributes: new { @class = "nav-link" })</li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink("Diseñadores", "Index", "Designer", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Clientes", "Index", "Cliente", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Usuarios", "Index", "UsersAdmin", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Roles", "Index", "RolesAdmin", null, htmlAttributes: new { @class = "nav-link" })</li>
                        }
                        else if (User.IsInRole("Empleado"))
                        {
                            <li class="nav-item">@Html.ActionLink("Marcas", "Index", "Marcas", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Modelos", "Index", "Modeloes", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Materiales", "Index", "Materiales", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Pedidos", "Index", "Pedidos", null, htmlAttributes: new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Clientes", "Index", "Cliente", null, htmlAttributes: new { @class = "nav-link" })</li>
                        }
                    }
                    <li class="nav-item"><a href="@Url.Action("AgregaCarrito", "Carrito")" class="nav-link"><img class="img-responsive" style="height: 20px;" src="https://res.cloudinary.com/dj2f7ngpv/image/upload/v1629428282/vane/carrito-de-compras_hb6fu0.png" /></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <section class="page-section" style="margin-top: 30px;">
        <div class="container" style="margin-top: 30px;">
            @RenderBody()
            <hr />
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-12">
                                <div class="left">
                                    <p>Designed and Developed by<a href="#" rel="nofollow" target="_blank">Fun Case software</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/plantilla")
    @RenderSection("scripts", required: false)
</body>
</html>
