@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Crear nueva cuenta.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-error" })

    @Html.HiddenFor(m => m.Tipo)
    <h4>Datos personales</h4>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Nombre, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Apellido1, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.TextBoxFor(m => m.Apellido1, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Apellido2, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.TextBoxFor(m => m.Apellido2, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Telefono, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <h4>Datos de usuario</h4>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Email, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Password, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-md-2 control-label">
            Selecciona Rol del Usuario
        </label>
        <div class="col-md-10">
            @foreach (var item in (SelectList)ViewBag.RoleId)
            {
                <input type="radio" name="SelectedRoles" value="@item.Value" class="radio-inline" />
                @Html.Label(item.Value, new { @class = "form-label" })
            }
        </div>
    </div>
    
    <button type="submit" class="btn btn-info">Crear</button>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("[name='SelectedRoles']").on('change', () => {
            var tipo = $("[name='SelectedRoles']:checked").val();
            document.getElementById("Tipo").value = tipo;
        });
    </script>
}
