@model IdentitySample.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registro";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Has ingresado satisfactoriamente con <strong>@ViewBag.LoginProvider</strong>.
        Por favor ingresa un nombre de usuario para este sitio y después da clic en el botón de Registro
        para finalizar el inicio de sesión.
    </p>
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 col-md-2 col-sm-3 form-label" })
        <div class="col-lg-10 col-md-10 col-sm-9">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger form-text" })
        </div>
    </div>
    <button type="submit" class="btn btn-outline-info">Registrar</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
