@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Modelo>

@{
    ViewBag.Title = "Index";
}

<h2>Index.</h2>

<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ancho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grosor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenReferencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ancho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grosor)
        </td>
        <td>
            <img class="img-responsive" src="@item.ImagenReferencia" alt="Imagen del Modelo" style="height: 100px;" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ModeloID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ModeloID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ModeloID })
        </td>
    </tr>
}

</table>
