@model Proyecto_FunCase_WEBLY.Models.Compras

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto.ImagenFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.ImagenFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoTicket)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComprasID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
