@model Proyecto_FunCase_WEBLY.Models.Direccion

@{
    ViewBag.Title = "Editar";
}

<h2>Editar.</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Dirección</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DireccionID)

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Calle, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.NumeroExt, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.NumeroExt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumeroExt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.NumeroInt, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.NumeroInt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumeroInt, "", new { @class = "form-text text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Colonia, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Colonia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Colonia, "", new { @class = "form-text text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.CodigoPostal, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "form-text text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "form-text text-danger" })
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.Estatus)
                @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "form-text text-danger" })
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        @Html.LabelFor(model => model.EstadoID, "Estado", htmlAttributes: new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.DropDownList("EstadoID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EstadoID, "", new { @class = "form-text text-danger" })
        </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
