@model Proyecto_FunCase_WEBLY.Models.Cliente

<div class="card">
    <div class="card-header">
        Perfil
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Apellido1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Apellido1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Apellido2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Apellido2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

        </dl>
    </div>
</div>