@model Proyecto_FunCase_WEBLY.Models.Cliente

@{
    ViewBag.Title = "Detalles";
}
    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Apellido1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Apellido1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Apellido2)
            </dt>

            @if (Model.User.Apellido2 == "" || Model.User.Apellido2 == null)
            {
                <dd>N/A</dd>
            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.User.Apellido2)
                </dd>

            }
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

        </dl>
    </div>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteID }) |
        @Html.ActionLink("Regresar al Listado", "Index")
    </p>


