@model IEnumerable<Proyecto_FunCase_WEBLY.Models.Cliente>
@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Cliente"))
{
    var Cliente = Model.ToList().Where(c => c.User.UserName == User.Identity.Name).FirstOrDefault();

    <h2>Mis datos.</h2>

    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-4" id="opciones">
            <div class="list-group">
                <a onclick="MostrarPerfil()" class="list-group-item" id="buttonMostrar">
                    Ver mi perfil
                </a>
                <a onclick="EditarPerfil()" class="list-group-item" id="buttonEditar">
                    Cambiar mi perfil
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8" id="contenido">
            <div id="edit" style="display:none">
                @Html.Partial("_EditProfile", (Proyecto_FunCase_WEBLY.Models.Cliente)Cliente)
            </div>
            <div id="show" style="display:block">
                @Html.Partial("_Profile", (Proyecto_FunCase_WEBLY.Models.Cliente)Cliente)
            </div>
        </div>
    </div>            
    
    <input type="hidden" value="@ViewBag.Initial" id="initial"/>
    

    @section scripts
    {
        <script>
            const MostrarPerfil = () => {
                document.getElementById("show").style.display = "block";
                document.getElementById("edit").style.display = "none";
                document.getElementById("buttonMostrar").classList.add("active");
                document.getElementById("buttonEditar").classList.remove("active");
            }

            const EditarPerfil = () => {
                document.getElementById("show").style.display = "none";
                document.getElementById("edit").style.display = "block";
                document.getElementById("buttonEditar").classList.add("active");
                document.getElementById("buttonMostrar").classList.remove("active");
            }

            window.onload = () => {
                var initial = document.getElementById("initial").value;
                if (initial == 0) {
                    MostrarPerfil();
                } else {
                    EditarPerfil();
                }
            }
        </script>
    }

}
else if (User.IsInRole("Empleado") || User.IsInRole("Admin"))
{
    <h2>Clientes.</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.ClienteID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ClienteID })
                </td>
            </tr>
        }

    </table>
}
