@model IdentitySample.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Add Phone Number";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Agregar número de teléfono.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Number, new { @class = "form-label col-lg-5 col-md-4 col-sm-4 col-form-label" })
        <div class="col-lg-7 col-md-8 col-sm-8">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Enviar código de verificación</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
