@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Administra tu cuenta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @(Model.HasPassword ? Html.ActionLink("Cambia tu contraseña", "ChangePassword") 
                : Html.ActionLink("Guarda una contraseña", "SetPassword"))
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Cambiar", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Quitar", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Agregar", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            Inicios de Sesión Externos: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                 @Html.AntiForgeryToken()
                 <p>
                     Two factor esta habilitado:
                     <button type="submit" class="btn btn-primary">Deshabilitar</button>
                 </p>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <p>
                    Two factor está deshabilitado:
                    <button type="submit"class="btn btn-primary">Habilitar</button>
                </p>
            }
        }
        @if (Model.BrowserRemembered)
        {
            using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <p>
                    El navegador esta recordado por two factor:
                    <button type="submit" class="btn btn-primary">Olvidar navegador</button>
                </p>
            }
        }
        else
        {
            using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <p>
                    El navegador no es recordado por two factor:
                    <button type="submit" class="btn btn-primary">Recordar navegador</button>
                </p>
            }
        }
    </div>
</div>
