@model IdentitySample.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Verificar Número Telefónico";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("phoneNumber", @Model.PhoneNumber)
    <h4>Agregar número de teléfono.</h4>
    <h5>@ViewBag.Status</h5>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="mb-3 row">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 form-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-info">Guardar</button>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
